---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>
        
    <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>

    <ul class="post-container">
        <li>
            <a href="/posts/post-1/">Post 1</a>
        </li>
        <li>
            <a href="/posts/post-2/">Post 2</a>
        </li>
        <li>
            <a href="/posts/post-3/">Post 3</a>
        </li>
    </ul>
</BaseLayout>

<style>
    .post-container {
        list-style: none;        
    }

    .post-container li {
        /* margin-bottom: 0.8rem; */
        /* background-color: #b4b4b4; */
        padding: 0.8rem;
    }

    .post-container li: :hover {
        
    }

    a {
        padding: 0.5rem ;
        text-decoration: none;
        color: #252525;
        font-weight: 600;
        background-color: #ececec;
        border-radius: 0.1rem;
        box-shadow: 1px 1px 0.1rem black;
    }
</style>