---
import Social from './Social.astro';

const link = "https://abogadoericprice.com";
---

<footer>
    <p>Eric Price, main site <a href={link}>link</a></p>
    <div class="social-container">
        <Social platform="Social" username="ericprice" iconColor="#4c1d95"/>
    </div>
</footer>

<style>
    footer{
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;
    }

    .social-container {
        display: flex;
        flex-direction: row;
        gap: 0.4rem;
        color: #4c1d95;
    }
</style>