---
const platform = "https://www.abogadoericprice.com";
const username = "Eric Price";
---

<style>
    footer{
        
    }
</style>

<footer>
    <p>Eric Price, main site <a href={platform}>link</a></p>    
</footer>
