---
import Navigation from './Navigation.astro';
---

<header>
    <a href="/">
        <img src="" alt="Logo">
    </a>
    <nav>
        <ul class="nav-menu">
            <Navigation />
        </ul>
    </nav>
</header>

<style>

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;    
    }    

</style>