---
// const {href, name} = Astro.props;

const {href, name} = Astro.props;

---

<!-- <ul class="nav-menu">
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/blog/">Blog</a>
    </li>
    <li>
        <a href="/about">About</a>
    </li>
</ul> -->
<!-- <a href={href}>{name}</a> -->

<div class="nav-links">
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/about">About</a>
</div>

<style>
</style>